@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root{
    --open:red;
    --InProgress:yellow;
    --resolved:blue;
    --OnHold:grey;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
/*header*/
header{
    width:100%;
    background: #11009E;
    height: 60px;
}
/*container*/
.container{
    max-width: 1700px;
    margin: auto 1rem;
    justify-content: space-between;
    padding: 1rem 0;
}
.task{
    width: 23.5%;
    background: #f1f1f1;
    padding: 5px;
    border: 1px solid grey;
    border-top-width: 2px;
    overflow: auto;
    height: fit-content;
}
.task#open{
    border-top-color: var(--open);
}
.task#InProgress{
    border-top-color: var(--InProgress);
}
.task#resolved{
    border-top-color: var(--resolved);
}
.task#OnHold{
    border-top-color: var(--OnHold);
}
.task .title{
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.task .title h4{
    margin: 0;
}
.task#open i , .task#open .NumberTask{
    color: var(--open);
}
.task#InProgress i , .task#InProgress .NumberTask{
    color: var(--InProgress);
}
.task#resolved i , .task#resolved .NumberTask{
    color: var(--resolved);
}
.task#OnHold i , .task#OnHold .NumberTask{
    color: var(--OnHold);
}
.card{
    background: white;
    border: 1px solid #a49292;
    padding: 4px;
    border-radius: 5px;
    margin: 1rem 0;
}
.card h6{
    margin: 0;
    font-size: 17px;
}
.card p{
    margin: 0.5rem 0;
    font-size: 14px;
}
.card .flex{
    justify-content: space-between;
}
.card .flex select{
    outline: none;
    border: 1px solid #c9adad;
    font-size: 12px;
    width: max-content;
    border-radius: 3px;
}
.modal{
    display: none;
    background: #b6a5d8eb;
    width: 100%;
    z-index: 1;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.modal-close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #424874;
    cursor: pointer;
    display: block;
}
.model-content{
    position: absolute;
    width: 350px;
    height: fit-content;
    background: #f4eeff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 1rem;
}
.model-content h3{
    color: #424874;
}
.model-content p{
    font-size: 11px;
    color: #424874;
    margin-bottom: 2rem;
}
.form-input{
    background: #fff;
    border: 1px solid #424874;
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    height: 34px;
    box-sizing: border-box;
    margin: 1rem 0;
}
textarea.form-input{
    height: 150px;
}
.AddToTable{
    color : #DCD6F7;
    background: #424874;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin:  0;

}
/*footer*/
footer{
    position:absolute;
    bottom:0;
    width:100%;
    background: #11009E;
}
footer p{
    font-size: 13px;
    margin: 5px 0;
    text-align: center;
    color: white;
}
.social.flex{
    justify-content: center;
    margin: 10px 0;
}
.social div{
    font-size: 22px;
    background: white;
    border-radius: 50%;
    margin: 0 0.5rem;
    cursor: pointer;

}
.social a{
    color: #11009E;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}
.social i{
    margin: auto;
}